.inputBox {
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.input-wraper {
    height: 80%;
    width: clamp(150px, 80%, 350px);
    position: relative;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #fff3;
    cursor: text;
    background-color: var(--primary-bg);
}
.input-wraper > label {
    position: absolute;
    align-self: center;
    pointer-events: none;
    transition: .6s;
    margin-top: -50px;
    margin-left: 2px;
    opacity: 1;
    color: var(--secondery-text);
}
.input-wraper > input:placeholder-shown + label {
        margin-top: 0px;
        margin-left: 12px;

}
.input-wraper:has(input:focus) {
    background-color: var(--secondery-bg);
    border-bottom: 1px solid #fff4;
    
    & > label {
        /* margin-top: -50px; */
    }
}
.input-wraper > input {
    height: 85%;
    width: 100%;
    padding: 12px;
    background: transparent;
    border: none;
    font-size: .9rem;
    cursor: text !important;
    letter-spacing: 1.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: var(--primary-color);
    &:focus {
        border: none;
        outline: none;
    }
}
.input-wraper > input::spelling-error {
    text-decoration: none;
}
.input-wraper[name="true"] {
    /* border-bottom: 1px solid #1a39 !important; */
    border-bottom: 1px solid #fff3;
}
.input-wraper[name="incorrect"] {
    border-bottom: 1px solid rgba(255, 49, 107, 0.834) !important;
}


@media screen and (max-width: 650px) {
    .input-wraper {
        width: clamp(10px, 100%, 350px);
    }
}