.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}
.app-name {
    font-family: 'Vampiro One', serif;
    padding: 0px 5px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
}
.user {
    height: 60%;
    place-self: center;
    padding: 0px 5px;
}
.search-wraper {
    width: clamp(300px, 60%, 600px);
    display: grid;
    position: relative;
    z-index: 2;
}
.search-box {
    display: grid;
    grid-template-columns: 1fr 44px;
    grid-template-rows: 1fr;
    place-items: center;
    width: 100%;
    /* background-color: red; */
    
}
.search-input-wraper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: red; */
}
.search-input {
    width: 100%;
    height: 70%;
    border: none;
    background: var(--secondery-bg);
    border-radius: var(--radius-big);
    padding: 0px 15px;
    font-size: 15px;
    caret-color: #fff;
    letter-spacing: 1px;
    color: var(--primary-color);

    &:focus {
        outline: 2px solid var(--brand-color);
    }
    &::spelling-error {
        text-decoration: none;
    }
    &::placeholder {
        color: #888;
    }
}
.search-button {
    all: unset;
    display: grid;
    place-items: center;
    transition-duration: .3s;
}
.search-button:hover > img {
    opacity: .9;
}
.search-button > img {
    height: 80%;
}
@media (max-width: 700px) {
    .search-box {
        grid-template-columns: 44px;
    }
    .header:has(.search-wraper.search-focused) {
        /* background-color: red; */
        & .app-name {
            display: none;
        }
        & .search-wraper {
            width: 100%;
            display: flex;
        }
        & .user {
            display: none;
        }
        & .search-box {
            grid-template-columns: 1fr 44px;
            width: 100%;
            padding: 10px;
        }
    }
    .search-input {
        min-height: 40px;
    }
    .header {
        background-color: var(--solid-bg-2);
    }
    .search-wraper {
        flex-grow: 1;
        justify-content: flex-end;
    }
    .search-input-wraper {
        display: none;
    }
    .search-input-wraper.search-focused {
        display: flex;
    }
    .search-wraper.search-focused {
        grid-template-columns: 1fr 44px;
    }
}