* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #E0E6EB;
  background: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --app-theme-bg: #000;
  --primary-bg: #0A0F13;
  --primary-color: #E0E6EB;
  --secondery-bg: #66666628;
  --secondery-text: #8A98A5;
  --chat-msg-bg: #131A21;
  --secondery-icon: #bbbbbb;
  --send-btn-shade: #77C1E3;
  --brand-color: #1B91E5;
  --brand-bg-solid: #0d4c71;
  --brand-bg-solid-hover: #223e5c;
  --brand-bg: #0c47904e;
  --solid-bg: #121B22;
  --solid-bg-2: #181818;
  --danger-color: #E51B5E;
  --danger-bg: #72002645;

  --contact-label-bg: #1118;
  --contact-hover-bg: #0e1518;
  --search-contact-hover-bg: #3334;
  --contact-active-bg: #121a22;
  --msg-hover-bg: #18212c;
  --search-container-bg: #181818;
  --shadow: #0009;
  --skeleton-accent-color: #ddd4;

  --cursor: pointer;

  --radius-big: 24px;
  --radius-mid: 14px;
  --radius-small: 7px;
}
/* light mode */
/* @media (prefers-color-scheme: light) {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #fff;
    background: #000;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --primary-bg: #eeec;
    --primary-color: #000;
    --secondery-bg: #eee;
    --secondery-text: #666;
  
    --chat-msg-bg: #fff;
    --secondery-icon: #bbbbbb;
    --send-btn-shade: #77C1E3;
    --brand-color: #1B91E5;
    --brand-bg: #002f7a45;
    --solid-bg: #ddd;
    --danger-color: #E51B5E;
    --danger-bg: #72002645;
  
    --contact-label-bg: #fff3;
    --contact-hover-bg: #ddd6;
    --search-contact-hover-bg: #ccc6;
    --contact-active-bg: #ddd;
    --msg-hover-bg: #fffa;
    --search-container-bg: #fff2;
    --shadow: #6663;
    --skeleton-accent-color: #0002;

    
    --radius-big: 24px;
    --radius-mid: 14px;
    --radius-small: 7px;
  }
} */
/* html {
  cursor: url('/svg/cursor.svg') 10 10, auto;
} */
::-webkit-scrollbar {
  width: 0px;
}
html {
  height: 100%;
  font-family: 'Istok Web', serif;
  letter-spacing: 1px;
  user-select: none;
  background: var(--primary-bg);
  color: var(--primary-color);
}
body, #root {
  height: 100%;
}
input, textarea {
  font-family: 'Istok Web', serif;
}
#root {
  overflow: hidden;
}

@media (max-width: 700px) {
  :root {
    --cursor: normal;
  }
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
