
.left-side {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /* grid-area: left-container; */
}

.chat-view {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    gap: 1px;
    padding-bottom: 5px;
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
}

@media (max-width: 700px) {
    .chat-view {
        grid-template-columns: 1fr;
    }
    .left-side {
        /* background-color: red; */
        min-width: 0px;
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: space-between;
        gap: 2px;
    }  
}