.add-new-contact-container {
    /* border: 1px solid red; */
    margin: 10px;
    border-radius: 8px;
    padding: 8px;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 2px;
}
.add-new-contact-container > div:nth-of-type(1) {
    color: var(--secondery-text);
    font-size: .9rem;
    font-weight: 500;
}
.add-new-contact-container > div:nth-of-type(2) {
    /* border: 1px solid lime; */
    height: 50px;
    padding: 6px 0px;
    & > button {
        all: unset;
        text-align: center;
        border: 1px solid var(--brand-color);
        color: var(--brand-color);
        cursor: var(--cursor);
        background-color: var(--brand-bg);
        height: 100%;
        width: 100%;
        transition-duration: .1s;
        font-weight: 500;

        &:hover {
            background-color: var(--brand-color);
            color: var(--primary-color);
            border-color: transparent;
        }
        &:active {
            opacity: .6;
        }
    }
}
.add-contact-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: auto 1.5rem 1.5rem auto;
}
@property --rad1 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 50%;
}
@property --rad2 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 35%;
}
@property --rad3 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 50%;
}
@property --rad4 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 60%;
}
@property --rad5 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 50%;
}
@property --rad6 {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 50%;
}
.plus-icon {
    aspect-ratio: 1 / 1;
    width: 3rem;
    border: none;
    background-color: var(--brand-color);
    cursor: var(--cursor);
    box-shadow: inset 2px 4px 5px 0px #fff5, inset -2px -4px 5px 0px #0005, 0px 0px 5px 0px #0004;
    border-radius: var(--rad1) var(--rad5) var(--rad1) var(--rad2) / var(--rad6) var(--rad1) var(--rad3) var(--rad4);
    filter: contrast(150%) brightness(95%) sepia(15%) saturate(123%);
    animation: animate-button 1s ease-in-out infinite;
    z-index: 0;
    &:active {
        opacity: .9;
    }
}
@keyframes animate-button {
    50% {
        --rad1: 45%;
        --rad2: 63%;
        --rad3: 48%;
        --rad4: 65%;
        --rad5: 70%;
        --rad6: 40%
    }
}
.plus-icon:nth-of-type(1) {
    font-size: 1.5rem;
    color: #fff;
}

@media (max-width: 700px) {
    .add-contact-btn {
        margin: auto 1rem 1rem auto;
    }
    .plus-icon {
        width: 3.5rem;
    }
    .plus-icon:nth-of-type(1) {
        font-size: 1.8rem;
    }
}