.msg-send-bar {
    min-height: 55px;
    height: max-content;
    overflow-x: hidden;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background: var(--primary-bg);

}
.msg-send-bar-wraper {
    /* background-color: blue; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    /* background-color: red; */
    /* border: 1px solid lime; */
}
.chat-input {
    /* border: 1px solid #fff; */
    flex-grow: 1;
    /* height: 90%; */
    /* background-color: blue; */
    margin: 8px 2px;
    overflow: hidden;
}
.chat-input > .input {
    max-height: clamp(100px, 25dvh, 400px);
    background: var(--chat-msg-bg);
    height: 100%;
    min-height: 44px;
    overflow-y: auto;
    border-radius: 20px;
    color: var(--primary-text);
    font-size: 16px;
    max-width: 100%;
    padding: 8px 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: stretch; */
    flex-direction: column;
    &:focus {
        border: none;
        outline: none;
    }
}
.chat-input-p {
    height: 100%;
    letter-spacing: .5px;
    /* word-break: break-all;
    white-space: break-all; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* flex-grow: 1; */

     &:focus {
        border: none;
        outline: none;
    }
}
.chat-input > .input::spelling-error {
    text-decoration: none;
}
.message-send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-send-btn > button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s ease-out;

    &:active {
        opacity: .9;
    }
}
.non-text-chat-items {
    display: flex;
    align-items: center;
    justify-content: center;
}
.non-text-chat-items > img {
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: .1s ease-out;
    filter: var(--icon-dark-filter);

    &:active {
        opacity: .8;
    }
}