.verify-container {
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-block: 20px;
    padding-bottom: 40px;
}
.verify-otp-header {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    gap: 8px;
    & > p {
        &:nth-of-type(1) {
            font-weight: 600;
            font-size: 1.6rem;
            color: var(--primary-color);
        }
        &:nth-of-type(2) {
            font-size: 12px;
        }
    }
}
.resend-btn {
    cursor: var(--cursor) !important;
    &:hover {
        color: var(--primary-color) !important;
    }
}
.verify-btn {
    display: flex;
    justify-content: flex-end;

    & > button {
        all: unset;
        padding: 12px 32px;
        border-radius: var(--red-mid);
        border: 1px solid #fff6;
        background-color: aliceblue;
        flex-grow: 1;
        text-align: center;
        color: #000;
        cursor: var(--cursor);
        font-weight: 600;
    }
}
.otp-field {
    display: flex;
    /* border: 1px solid gray; */
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap;
}
.otp-field[data-status=invalid] > .otp-digit {
    outline: 2px solid red;
}
.otp-field[data-status=valid] > .otp-digit {
    outline: 2px solid forestgreen;
}
.otp-digit {
    width: clamp(40px, 5vw, 56px);
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff4;
    border: none;
    background-color: var(--solid-bg);
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    font-family: inherit;
    
    &:focus {
        outline: 2px solid aliceblue;
    }
}
.otp-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.resend-otp {
    display: flex;
    justify-content: flex-end;
    & > button {
        all: unset;
        font-size: 14px;
    }
}