.search-window {
    position: fixed;
    width: 100%;
    top: 62px;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    /* background-color: #7003; */
    /* backdrop-filter: brightness(50%); */
    display: flex;
    justify-content: center;
    backdrop-filter: blur(8px);
}
.search-results {
    /* max-height: clamp(200px, 40vh, 350px); */
    max-width: clamp(300px, 90%, 600px);
    width: 60%;
    box-shadow: 0px 5px 40px 3px #0004;
    /* max-height: max-content; */
    height: max-content;
    border-radius: 10px;
    background: var(--primary-bg);
    margin-left: clamp(10px, 40%, 40px);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(200px);
    padding-bottom: 6px;
}
.result-for {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.no-more-result {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondery-text);
    font-size: .9rem;
    font-weight: 500;
}
.result-for > div:nth-of-type(1) {
    color: var(--secondery-text);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-wrap: normal;
    overflow-wrap: break-word;

    &>span {
        font-weight: 600;
    }
}
.result-for > div:nth-last-child(1) {
    aspect-ratio: 1 / 1;
    width: 24px;
    display: grid;
    place-items: center;
    cursor: pointer;

    &:hover > .btn-icon {
        opacity: .8;
    }
    &:active > .btn-icon {
        opacity: 0.4;
    } 
}
.results {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: #aaa2;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #aaa3;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #aaa4;
    }
}

.search-results .show-user {
    height: 60px;
    min-height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;

    &:hover {
        background-color: var(--contact-hover-bg);
    }
}
.msg-btn {
    width: max-content;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg-btn > button {
    all: unset;
    padding: 6px;
    font-size: .8rem;
    background-color: transparent;
    background-color: var(--brand-bg);
    border: 1px solid #1B91E566;
    color: var(--brand-color);
    cursor: pointer;
}
.show-user:hover .msg-btn button {
    background-color: var(--brand-color);
    color: var(--primary-color);
}
.btn-icon {
    color: var(--secondery-text);
}
.show-user-info {
    flex-grow: 1;
    display: flex;
    gap: 8px;
    overflow: hidden;
}
.show-user-info > div:nth-of-type(2) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bio {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8rem;
    color: var(--secondery-text);
}
.show-user-info > .avatar {
    display: grid;
    place-items: center;

    &>img {
        aspect-ratio: 1 / 1;
        overflow: hidden;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
        cursor: var(--cursor);
    }
}

@media (max-width: 700px) {
    .search-window {
        /* background-color: #000; */
        background-image: linear-gradient(180deg, transparent 70%, rgba(7, 41, 69, 0.756));
        /* background: transparent; */
    }
    .search-results {
        max-width: none;
        width: 100%;
        background: var(--primary-bg);
        margin: 0;
        height: minmax(300, max-content);
        background-image: linear-gradient(90deg, transparent 30%, rgba(3, 36, 63, 0.18));
        backdrop-filter: blur(20px);
    }
    .results {
        max-height: 50vh;
    }
}