.tabs-wraper {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.tabs {
    background-color: var(--secondery-bg);
    flex-grow: 1;
    height: 100%;
    border-radius: var(--radius-mid);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 6px 10px;
}
.tabs > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabs .tab {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tabs .tab > img {
    width: 20px;
    -webkit-user-drag: none;
    user-select: none;
}
.tabs .tab.active  {
    background-color: var(--brand-bg);
}

@media (max-width: 700px) {
    .tabs-wraper {
        width: 100%;
        padding: 0;

    }
    .tabs {
        flex-direction: row;
        justify-content: space-around;
        border-radius: 0;
        background-color: var(--solid-bg-2);
    }
    .tabs .tab > img {
        width: 25px;
    }
    .tabs .tab.active  {
        background-color: transparent;
    }
    .tabs > div {
        flex-direction: row;
        padding: 6px;
    }
    .tabs > div > div {
        padding: 14px;
    }
    .tabs > div:nth-of-type(2) > div:nth-of-type(1) {
        display: none;
    }
    .tabs > div:nth-of-type(1) > div:is(:nth-of-type(1), :nth-last-child(1)) {
        display: none;
    }
    .tabs > div:nth-of-type(3) > div:nth-of-type(1) {
        display: none;
    }
}