.tabs-wraper {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}
.tabs {
    background-color: var(--secondery-bg);
    flex-grow: 1;
    height: 100%;
    border-radius: var(--radius-mid);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
}
.tabs > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tabs .tab {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tabs .tab > img {
    width: 20px;
}
.tabs .tab.active  {
    background-color: var(--brand-bg);
}