.container {
    position: fixed;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0001;
    backdrop-filter: blur(2px);
    z-index: 200;
}
.confirm-bar {
    background-color: var(--solid-bg);
    width: clamp(300px, 50%, 400px);
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.confirm-bar > .title-msg {
    color: var(--secondery-text);
    flex-grow: 1;
    padding-top: 4%;
    padding-left: 5%;
    /* border: 1px solid red; */
}
.confirm-bar > .actions {
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: .8rem;
}
.actions > button {
    all: unset;
    padding: 10px 16px;
    border-radius: 24px;
    font-size: .75rem;
    cursor: var(--cursor);
}
.actions > button:nth-of-type(1) {
    border: 1PX solid transparent;
    &:hover {
        /* border: 1px solid var(--brand-color); */
        color: var(--brand-color);
    }
}
.actions > button:nth-of-type(2) {
    color: var(--danger-color);
    background-color: var(--danger-bg);
    border: 1px solid transparent;

    &:hover {
        border: 1px solid var(--danger-color);
        background-color: transparent;
    }
}