.settings-tab-container {
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    padding-inline: 0px;
    padding-top: 0px;
    flex-direction: column;
    gap: 10px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: 24px;
    background: var(--primary-bg);
    border-radius: 18px;
    /* background-color: red; */
    /* border: 1px solid #fff; */
}
.profile-container > div:nth-child(1) {
    display: flex;
    justify-content: right;

    & > img {
        height: 22px;
        aspect-ratio: 1 / 1;
    }
}
.profile-container > * {
    /* border: 1px solid magenta; */
}
.profile-container > div:nth-child(2) {
    display: grid;
    place-items: center;

    & > div {
        width: 122px;
        overflow: hidden;

        & > img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
.profile-container > div:nth-child(3) {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    & > div {
        text-align: center;

        &:nth-child(1) {
            font-size: 1rem;
        }
        &:nth-child(2) {
            font-size: 0.688rem;
        }
    }
}
.settings-list-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 4px;
    background-color: var(--primary-bg);

}
.settings-btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 10px 4px;

    padding-left: 16px;
    border-radius: 8px;
    cursor: var(--cursor);

    &:hover {
        background-color: var(--contact-hover-bg);
    }
}
.settings-btn > div:nth-child(1) {
    height: 22px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;

    & > img {
        height: 80%;
        aspect-ratio: 1 / 1;
    }
}
.settings-btn > div:nth-child(2) {
    flex-grow: 1;
}
.settings-btn > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    & > svg {
        width: 20px;
        padding: 8px 10px;
        object-fit: contain;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 700px) {
    .settings-tab-container {
        padding-inline: 8px;
        padding-top: 8px;
    }
    .settings-btn {

        &:hover {
            background-color: var(--primary-bg);
        }
        &:active {
            background-color: var(--contact-hover-bg);
        }
    }
}