.chat-box {
    background-color: #0ff1;
    display: grid;
    grid-template-rows: 60px 1fr max-content;

    background-color: var(--secondery-bg);
    overflow-y: hidden;
}
.msgs {
    overflow: hidden;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
    padding: 0 5px;
    gap: 1px;
}
.scroll {
    line-height: 1px;
    width: 100%;
}
.message-tag {
    padding: 2px 0px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    /* background-color: red; */
    /* justify-content: right; */
}

.message-tag > .message-body {
    background-color: var(--secondery-bg);
    padding: 6px 55px 12px 8px;
    padding-bottom: 12px;
    padding-right: 55px;
    border-radius: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: clamp(100px, 70%, 600px);
    width: max-content;
    /* height: ; */
    font-size: .9rem;
    flex-direction: column;
    cursor: pointer;
    padding-left: 16px;
    /* overflow: hidden; */
    position: relative;
}
.message-text {
    user-select: text;
    cursor: text;
}
.message-tag:hover > .message-body {
    background: #4446;
}
.content {
    word-wrap: normal;
    overflow-wrap: break-word;
    max-width: 100%;
}
.me {
    justify-content: right;
}
.not-me {
    justify-content: left;
}
.not-me > .message-body {
    padding-right: 35px;
}
.not-me > .message-body .message-status {
    bottom: 7px;
    right: 7px;
}
.not-me > .message-body > .content {
    justify-content: left;
    padding-right: 16px;
}
.message-status {
    font-size: .5rem;
    line-height: .3rem;
    /* background-color: red; */
    height: max-content;
    color: var(--secondery-text);
    position: absolute;
    right: 3px;
    bottom: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.message-status > .tick {
    height: 15px;
    /* background-color: red; */
}
.message-status > .tick > img {
    height: 100%;
}
.msg-options {
    background-color: var(--secondery-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.message-tag:hover > .msg-options {
    display: block;
}