.chat-container {
    overflow-y: hidden;
    max-height: 100%;
    height: 100%;
    /* max-height: max-content; */
}
.chat-box {
    display: grid;
    height: 100%;
    max-height: 100%;
    grid-template-rows: 60px 1fr max-content;
    /* background-color: var(--secondery-bg); */
    background-color: var(--primary-bg);
    overflow-y: hidden;
}
.msgs {
    /* overflow: hidden; */
    overflow-y: auto;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
    padding: 0 5px;
    gap: 1px;
    scroll-behavior: smooth;
    background-image: var(--chat-doodle-svg, url('/doodle/pattern-10.svg'));
    background-color: transparent;
    background-repeat: repeat;
    background-attachment: fixed;
    /* background-blend-mode: overlay; */
    background-size: contain;
    background-position: bottom;
  
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-button {
        height: 0px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: #fff2;
        cursor: var(--cursor);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #fff4;
    }
}
.scroll {
    line-height: 1px;
    width: 100%;
    /* background-color: lime; */
}
.message-tag {
    padding: 2px 0px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    flex-flow: row-reverse;
    /* background-color: red; */
    /* justify-content: right; */
}

.message-tag > .message-body {
    background: var(--contact-active-bg);
    padding: 6px 55px 12px 8px;
    padding-bottom: 12px;
    padding-right: 55px;
    border-radius: 12px;
    border-radius: 12px 12px 12px 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    max-width: clamp(100px, 70%, 600px);
    width: max-content;
    /* height: ; */
    font-size: .95rem;
    flex-direction: column;
    cursor: var(--cursor);
    padding-left: 16px;
    /* overflow: hidden; */
    position: relative;
    box-shadow: 0px 0px 10px 1px #0002;
}
.message-tag:nth-of-type(2) > .message-body {
    
}
.message-text {
    user-select: text;
    cursor: text;
}
.message-tag:hover > .message-body {
    background: var(--msg-hover-bg);
}
.content {
    word-wrap: normal;
    overflow-wrap: break-word;
    max-width: 100%;
}
.me {
    justify-content: right;
    &:hover > .message-body {
        background-color: var(--brand-bg-solid-hover);
    }
    & > .message-body {
        background-color: var(--brand-bg-solid);
        color: var(--chat-my-msg-color);

        &:hover {
            background-color: var(--brand-bg-solid-hover);
        }
        & .message-status {
            color: var(--chat-my-msg-secondery-color);
        }
    }
}

.not-me {
    justify-content: left;
    flex-flow: row;
}
.not-me > .message-body {
    padding-right: 35px;
}
.not-me > .message-body .message-status {
    bottom: 7px;
    right: 7px;
}
.not-me > .message-body > .content {
    justify-content: left;
    padding-right: 16px;
}
.message-status {
    font-size: .5rem;
    line-height: .3rem;
    /* background-color: red; */
    height: max-content;
    color: var(--secondery-text);
    position: absolute;
    right: 3px;
    bottom: 1px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.message-status > .tick {
    height: 15px;
    /* background-color: red; */
}
.message-status > .tick > img {
    height: 100%;
}
.msg-context-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    /* border: 1px solid blue; */
    aspect-ratio: 1 / 1;
    display: none;
}
.message-tag.not-me > .msg-context-menu {
    transform: rotate(180deg);
}
.message-tag:hover > .msg-context-menu {
    display: flex;
}
.context-icon-wraper {
    /* border: 1px solid #f00; */
    height: 100%;
    background: var(--brand-bg);
    border: 1px solid var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-radius: 50% 0% 50% 50%;
    cursor: var(--cursor);
    transform: rotate(45deg);
}
.context-icon-wraper > .context-menu-icon {
    /* background-color: #fff; */
    height: 50%;
    transform: rotate(-45deg);
    color: var(--brand-color);
}
.main-context-menu {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: brightness(90%);
}
.main-context-menu .menu {
    background-color: var(--solid-bg);
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 40%;
    overflow: hidden;
    max-width: 200px;
    animation: fade-in .1s ease;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(50%) scale(.5);
    } to {
        opacity: 1;
        transform: translate(0%) scale(1);
    }
}
.menu > div {
    padding: 15px;
    width: 100%;
    cursor: var(--cursor);
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 15px;
    align-items: center;
    /* border: 1px solid red; */
    &:hover {
        background-color: #4446;
    }
}
.menu > div > p {
    font-size: .8rem;
}

@media (max-width: 700px) {
    .message-text {
        user-select: none;
        cursor: initial;
    }
    .msgs {
        background-size: cover;
    }
    .message-tag:hover > .msg-context-menu {
        display: none;
    }
}