.contacts-wraper {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    gap: 1px;
}
.contacts {
    flex-grow: 1;
    background: var(--secondery-bg);
    border-radius: var(--radius-small);
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow-y: auto;
    overflow-x: initial;
    scroll-behavior: smooth;
    flex-grow: 1;
    min-width: 300px;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-button {
        height: 0px;
    }
    &:hover::-webkit-scrollbar-thumb {
        background-color: #aaa2;
        cursor: var(--cursor);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #fff3;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: #fff4;
    }
}

.no-contacts {
    color: var(--secondery-text);
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}
.handle-resize {
    width: 10px;
    border-radius: var(--radius-mid);
    cursor: ew-resize;
    transition-duration: .2s;
    position: relative;
    --bg: var(--solid-bg);
    /* background-color: blue; */

    &:hover {
        opacity: 1;
        --bg: #444;
    }
    &:active {
        --bg: var(--brand-color);
    }
}

.handle-resize::before {
    position: absolute;
    content: '';
    width: 39%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--bg);
}


/* tab styles */

.contact {
    width: 100%;
    /* overflow: hidden; */
    background-color: var(--contact-label-bg);
    height: 60px;
    min-height: 60px;
    border-radius: var(--radius-small);
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    gap: 7px;
    padding: 7px;
    cursor: var(--cursor, none);
    border: 1px solid transparent;

    &:hover {
        background-color: var(--contact-hover-bg);
    }
}
.prevent-hover:hover {
    background-color: var(--contact-label-bg);
}
.contacts:has(.contact.prevent-hover) {
    overflow: hidden;
}
.contact.active {
    background-color: var(--contact-active-bg);
}

.contact > .profile {
    height: 85%;
    aspect-ratio: 1 / 1;
}
.contact > .profile > img {
    height: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.contact > .user-info {
    flex-grow: 1;
    height: 90%;
    display: flex;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
    overflow: hidden;
    gap: 10px;
}
.user-meta-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.user-meta-data > .username {
    font-size: .85rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-meta-data > .last-msg {
    font-size: .75rem;
    color: var(--secondery-text);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-status {
    width: max-content;
    display: flex;
    flex-direction: column;
}
.user-status > .last-msg-time {
    white-space: nowrap;
    font-size: .7rem;
    color: var(--secondery-text);
}
.user-status > .unread-msg-count {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}
.user-status > .unread-msg-count > div {
    background-color: var(--brand-color);
    height: 80%;
    display: inline-block;
    text-align: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 10px;
}
.user-status > .unread-msg-count > div > p {
    width: min-content;
    place-self: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 700px) {
    .contacts-wraper {
        /* background-color: red; */
        width: 100%;
        min-width: 100px;
        height: 100%;
        overflow: hidden;
    }
    .contacts {
        width: 100%;
        min-width: 70px;
    }
}