.chat-nav {
    background-color: var(--contact-active-bg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* position: relative; */
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 1px 15px 0px var(--shadow);
    z-index: 1;
}

.chat-nav .back-btn {
    width: 39px;
    height: 39px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-inline: -8px;
    &:active {
        background-color: var(--secondery-bg);
    }
}
.user-info {
    /* width: 100px; */
    /* border: 1px solid red; */
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    /* overflow: hidden; */
}
.user-dp {
    height: 65%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: relative;
}
.user-online-tag {
    height: 14px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    
    position: absolute;
    top: -2px;
    right: -2px;
    opacity: 1;

    &::before {
        content: '';
        inset: 0;
        position: absolute;
        transform: scale(0.1);
        background-color: var(--brand-color);
        animation: animate 3s linear infinite;
        border-radius: inherit;
        z-index: 1;
    }
       &::after {
        content: '';
        inset: 0;
        position: absolute;
        animation: animate 3s linear infinite;
        border-radius: inherit;
        animation-delay: 1.5s;
        background-color: var(--brand-color);
        transform: scale(0.1);
        z-index: 1;
    }
}
@keyframes animate {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.user-dp > .dp-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.user-wraper {
    /* background-color: red; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: clamp(50px, 20vw, 300px);
    overflow: hidden;
}
.user-wraper > .username, .user-wraper > .user-status {
    line-height: 1.1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-wraper > .username {
   
}
.user-wraper > .user-status {
    font-size: .8rem;
    color: var(--secondery-text);
}
.nav-buttons {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 10px;
    height: 60%;
}
.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100%;
    cursor: var(--cursor);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 10px;

    &.disabled {
        pointer-events: none;
        opacity: .7;
        position: relative;

        &::after {
            content: '🛇';
            position: absolute;
            top: 0px;
            right: 0px;
            line-height: 12px;
            font-size: .7rem;
            aspect-ratio: 1 / 1;
            transform: translate(-30%, 30%);
            color: var(--danger-color);
        }
    }
}
.nav-btn:hover {
    opacity: .8;
}
.nav-btn > img {
    height: 100%;
}

/* menu style starts here */
.menu {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 45dvh;
    min-height: 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    width: clamp(200px, 50%, 250px);
    background-color: var(--solid-bg);
    border-radius: 12px;
    font-size: .8rem;
    font-weight: 350;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 20px 1px #0008;
}
.menu > button {
    all: unset;
    padding: 15px 20px;
    cursor: var(--cursor);
    transition: .1s ease-out;
    /* border: 1px solid pink; */
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    &:hover:not(.block) {
        background-color: #aaaaaa0d;
    }
    &.block {
        color: var(--danger-color);
        font-weight: 600;
        
    }
    &.block:hover {
        background-color: var(--danger-bg);
    }

    & > div:nth-child(1) {
        pointer-events: none;
        height: 100%;

        & > svg {
            font-size: 1rem;
            height: .8rem;
            aspect-ratio: 1 / 1;
        }
    }
    & > p {
        /* background-color: lime; */
        pointer-events: none;
        flex-grow: 1;
    }
}
.typing {
    color: var(--brand-color);
    filter: contrast(130%) brightness(120%);
}
@media (max-width: 700px) {
    .user-info {
        flex-grow: 1;
    }
    .user-wraper {
        max-width: 100%;
    }
    .nav-btn {
        height: 100%;
    }
}